.container {
  width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
}

label.exchange {
  font-weight: bold;
  width: 80px;
  float: left;
}

.exchangeForm {
  padding-left: 40px;
}

fieldset {
  margin: 15px 10px;
}

fieldset legend {
  font-weight: bold;
  font-size: 18px;
  color: purple;
}

<<<<<<< HEAD
#roadAddress,
#roadAdressDetail {
  margin-left: 80px;
}

#roadAdressDetail:placeholder {
  color: #d4d4d4;
=======
#postcode {
  margin-left: 48px;
}

#address1_input,
#address2_input {
  margin-left: 80px;
}

#postcode,
#address1_input,
#address2_input {
  margin-top: 3px;
  margin-bottom: 3px;
>>>>>>> master
}

ul li {
  margin-bottom: 10px;
}

#submit {
  text-align: center;
}
