* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kaisei Decol", "Noto Sans KR", serif;
}

.category {
  padding-bottom: 160px;
}

.icon {
  margin-top: -120px;
}

.best {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: rgb(245, 245, 245);
  width: 1400px;
  height: 430px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.bestText {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.perfume {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: white;
  width: 260px;
  height: 230px;
  text-align: left;
  position: relative;
}

.perfumeImg {
  width: 200px;
  height: 200px;
  margin-bottom: 45px;
}

#sold {
  font-size: 13px;
  font-weight: bold;
  color: rgb(178, 151, 209);
  margin-left: -0px;
}

.svgCart {
  width: 20px;
  height: 20px;
  filter: invert(80%) sepia(6%) saturate(808%) hue-rotate(212deg)
    brightness(87%) contrast(95%);
  position: absolute;
  right: 35px;
  bottom: 170px;
}

.svgCartBest {
  width: 25px;
  height: 25px;
  filter: invert(80%) sepia(6%) saturate(808%) hue-rotate(212deg)
    brightness(87%) contrast(95%);
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.svgCart:hover,
.svgCartBest:hover {
  filter: invert(86%) sepia(11%) saturate(5790%) hue-rotate(197deg)
    brightness(99%) contrast(105%);
}

.perfume .bestInfo {
  font-size: 15px;
  margin-left: 3px;
  margin-bottom: 2px;
}

#bestBrandName {
  font-size: 14px;
}

#bestPerfumeName {
  font-weight: bold;
}

#bestScent {
  font-size: 13px;
  margin-bottom: 10px;
}

.sortBest {
  display: flex;
  justify-content: flex-end;
  margin-right: 140px;
  margin-bottom: 80px;
}

.sortBest a {
  margin-right: 10px;
  font-size: 14px;
}

.sortBest a:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  color: gray;
}

.bestList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  margin-left: 30px;
  margin-bottom: 200px;
}

.perfumeList {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: white;
  width: 220px;
  text-align: left;
  position: relative;
}

.perfumeImgList {
  width: 150px;
  height: 150px;
  margin-bottom: 45px;
  padding: 15px;
  padding-right: 35px;
  border: 1px solid rgba(233, 233, 233, 0.651);
  box-sizing: content-box;
}

#brandName {
  font-size: 13px;
}

#perfumeName {
  font-weight: bold;
}

.perfumeList .info {
  font-size: 14px;
  margin-left: 3px;
  margin-bottom: 2px;
}

#scent {
  font-size: 12px;
  margin-bottom: 10px;
}

/* 추가된 CSS */
.priceSoldWrapper {
  display: flex;
  align-items: center;
}

#price {
  margin-right: 10px;
}

#priceConsumer {
  font-size: 13px;
  color: gray;
  text-decoration-line: line-through;
  text-decoration-thickness: 1px;
  margin-right: 5px;
}
