/* footer.css */ /* 전체 footer 스타일 */
footer {
  height: 30%;
  background-color: #f9f9f9;
  color: black;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
}

hr {
  background-color: #ccc;
  height: 1px;
  border: 0;
}

/* 상위 섹션 스타일 */
#top {
  margin-bottom: 10px;
  text-align: center;
}

/* flex 레이아웃을 위한 ul, li 스타일 */
ul.flex {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

ul.flex li {
  width: 25%;
  position: relative;
}

ul.flex li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 50%;
  width: 1px;
  background-color: #ccc;
  transform: translateY(-50%);
}

ul.flex li span {
  margin: 5px auto;
}

/* 각 정보 아이템 스타일 */
ul.flex li h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

ul.flex li .number_info {
  font-size: 14px;
}

ul.flex li .time_info {
  font-size: 12px;
  color: #ccc;
}

ul.flex li .closed_info {
  font-size: 12px;
  color: #ccc;
}

/* footer_intro 스타일 */
#footer_intro {
  margin-bottom: 5px;
}

#footer_intro h5 {
  font-size: 12px;
  margin-bottom: 3px;
}

#footer_intro p {
  font-size: 10px;
  color: black;
  margin: 3px 0;
}

/* footer_menu 스타일 */
.footer-nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.footer-nav li {
  margin: 0 10px;
}

.footer-nav li a {
  font-size: 10px;
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 5px 0;
}

.footer-nav li a:hover {
  color: #fff;
}

.footer-nav li.menu_bar {
  border-right: 1px solid #666;
  height: 24px;
  margin: 0 10px;
}

.footer-nav li.follow {
  margin-left: auto;
}

.footer-nav li.follow a {
  margin-left: 10px;
}

.footer-nav li.follow a img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

/* footer_info 스타일 */
#footer_info .detail_info {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#footer_info .detail_info li {
  font-size: 10px;
  color: #ccc;
  line-height: 1.8;
  margin-right: 5px;
  margin-bottom: 3px;
}

#footer_info .detail_info li span {
  font-weight: bold;
  font-size: 10px;
  margin-right: 5px;
}

#footer_info .detail_info li.warning {
  color: #999;
  font-size: 7px;
}

#footer_info .detail_info li.copy {
  font-size: 12px;
  color: #999;
  margin-top: 3px;
}

/* 추가적인 스타일링 */

#footer_info .detail_info li.copy {
  margin-top: 5px;
}

#footer_info .detail_info li {
  padding: 5px 0;
}

#footer_menu .footer-nav li {
  margin: 0;
}

.footer-nav li a {
  padding: 0;
  margin: 0;
}

.footer-nav li.follow a img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.footer-nav li.menu_bar {
  border-right: 1px solid #ccc;
  height: 24px;
  margin: 0 15px;
}

.footer-nav li.follow {
  margin-left: 15px;
}
