body {
  height: 100vh;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.receipt {
  text-align: end;
}

.pay_receipt,
.pay_detail {
  background-color: white;
  color: red;
  border: 1px solid red;
  font-size: 0.8em;
  text-align: center;
  width: 80px;
  height: 30px;
}

.noti_box,
.bottom-btn {
  text-align: center;
}

.orderInfo {
  background-color: #f9f9f9;
  border: 1px solid #ededed;
  border-collapse: collapse;
  margin: auto;
  width: 45%;
  height: 100px;
}

th,
td {
  padding: 3px;
  font-size: 0.8em;
  width: 30px;
}

td {
  text-align: left;
}

.orderDetail,
.goHome {
  font-size: 0.8em;
  text-align: center;
  width: 90px;
  height: 45px;
}

.orderDetail {
  background-color: white;
  color: black;
  border: 1px solid #ededed;
  text-align: center;
}

.goHome {
  background-color: red;
  color: white;
  border: 1px solid red;
  text-align: center;
}
