::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
}

.myPage {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.area {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  text-align: center;
}
<<<<<<< HEAD
.user-data {
  margin-bottom: 20px;
}
=======
.user_btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.user_btn button {
  cursor: pointer;
  background-color: #6a24fe;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
}
.user-data {
  margin-bottom: 20px;
}
.user-data button {
  cursor: pointer;
  background-color: #6a24fe;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
}
>>>>>>> master
.myPage_list {
  display: flex;
  flex-direction: column;
}
.user-data-list {
  margin: 50px 0;
  padding: 0;
}
.user-data-list .dataList {
  list-style: none;
}
.order {
  border: 2px solid #555;
  border-bottom: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.list-items {
  border: 2px solid #555;
  display: flex;
  justify-content: space-between;
}
.list-item {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 10px;
  width: 100%;
  text-align: center;
  border: 2px solid #555;
}

@media screen and (max-width: 1200px) {
  .area {
    padding: 0 20px;
  }
}
