::-webkit-scrollbar {
  display: none;
}

.myPage {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.area {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  text-align: center;
}
.user-data {
  margin-bottom: 20px;
}
.myPage_list {
  display: flex;
  flex-direction: column;
}
.user-data-list {
  margin: 50px 0;
  padding: 0;
}
.user-data-list .dataList {
  list-style: none;
}
.order {
  border: 2px solid #555;
  border-bottom: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.list-items {
  border: 2px solid #555;
  display: flex;
  justify-content: space-between;
}
.list-item {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 10px;
  width: 100%;
  text-align: center;
  border: 2px solid #555;
}
